.blank-screen{
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    justify-content: space-around;
    align-items: center;
}

.blank-screen img{
    height: 70%;
    width: fit-content;
}
.blank-screen h3{
    color: black;
}